body {
  font-family: Quicksand, sans-serif;
  background-color: rgb(70, 69, 67);
  color: rgb(207, 208, 221);
}

header {
  padding-bottom: 10px;
}

table,
tbody,
td,
th,
thead,
tr {
  border: none;
}

tbody {
  background-color: rgb(43, 43, 41);
}

header {
  text-align: center;
}

h1 {
  font-size: 3em;
  font-weight: 300;
  text-transform: uppercase;
}

h2 {
  font-size: 1em;
  font-weight: 400;
  text-transform: uppercase;
  height: 40px;
}

h3 {
  font-family: "Open Sans", sans-serif;
  font size: 0.8em;
  font-weight: 400;
  color: rgb(129, 167, 179);
}

.twitter h2 {
  background-color: rgb(11, 135, 204);
}

.reddit h2 {
  background-color: rgb(164, 135, 10);
}

ul {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 300;
  list-style: none;
  text-align: left;
}

.container {
  width: 100%;
  align-items: stretch;
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-items: stretch;
}

.header,
.list {
  display: flex;
}

.twitter {
  display: flex;
  flex-direction: column;
}

.reddit {
  display: flex;
  flex-direction: column;
}